<div>
  <mat-toolbar color="primary">
    <span>Trip</span>
    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <span class="spacer"></span>
    <button mat-flat-button color="accent">Logout</button>
    <button mat-flat-button color="accent">Login</button>
    <button mat-flat-button color="accent">Signup</button>

  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item>About</button>
    <button mat-menu-item>Contact</button>
  </mat-menu>
  <router-outlet></router-outlet>
</div>


